In [1166]:
# DSC 540
# Weeks 5 & 6
# Summer 2024
# Weeks 5 & 6 Exercises
# Created By Matthew Heinen
# 7/6/24

# Chapter 7:

In [1168]:
# Read in data file. 

# Import packages 
import pandas as pd

In [1169]:
# read in candyhieracrhy2017.csv. 
candy = pd.read_excel("candyhierarchy2017.xlsx")

/opt/anaconda3/lib/python3.11/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [1170]:
# Display candy to verify read in 
candy.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [1171]:
# print current size of df. 
candy.shape

(2460, 120)

## Filter out missing data:

In [1173]:
# Use dropna to drop all columns that are completely empty. 
# Pass Axis 1 to drop columns. 

candy = candy.dropna(axis =1, how ='all')

# Print Candy shape 
candy.shape

(2460, 120)

Here we see that no columns were completely empty.

In [1175]:
# Use dropna to drop all rows that are completely empty. 
# pass how = "all to drop rows that are all na

candy = candy.dropna(how='all')

# Print Candy shape 
candy.shape

(2460, 120)

Here we can see that there are no rows that are completly empty.

In [1177]:
# Evaluate age 
# Test if a value in a column is numeric and remove the rows
candy['Q3: AGE'] = pd.to_numeric(candy['Q3: AGE'], errors='coerce')  # Convert to numeric, coerce non-numeric values to NaN


# Remove rows with NaN values in column 'Q3: AGE'
# Use drop NA
candy = candy.dropna(subset=['Q3: AGE'])  

# print size 
print(candy.shape)

(2352, 120)

Here we have removed rows where the value input in age was non numeric.

# Remove Duplicates

In [1180]:
# check to see if any rows are duplicates or repeats
# use drop_duplicates
candy = candy.drop_duplicates()

#print shape
candy.shape

(2352, 120)

Here we see that now rows are complete duplicates.

In [1182]:
# Check to see if any of the internal ID is duplicated, meaning we have multiple records for the same person. 
candy = candy.drop_duplicates(['Internal ID'])

#print shape
candy.shape

(2352, 120)

 Here we see that we have no duplicate rows or entries.

## Discretization and Binning

lets create some bins based on the age demographic.

In [1185]:
# Use describe to find some summary stats on age. 

print(candy['Q3: AGE'].describe())

count    2352.000000
mean       42.617304
std        23.846531
min         1.000000
25%        34.000000
50%        41.000000
75%        50.000000
max      1000.000000
Name: Q3: AGE, dtype: float64

Here we can see that we have some outliers. ages 1 and 1000 are for sure outliers. lets remove those values by filtering out df.

In [1187]:
# Use .loc to filter outliers from the age column of the dataset 
candy = candy.loc[(candy['Q3: AGE'] >= 10) & (candy['Q3: AGE'] <= 100)]

#Print shape
print(candy.shape)

(2337, 120)

In [1188]:
# use pd.cut to create age bins in df. 

# Create bins and labels 
bins = [10, 18, 30, 50, 100] 
labels = ['10-18', '19-30', '31-50', '51-100']

# create the bins and add column called 'age_bins' 
candy['age_bins'] = pd.cut(candy['Q3: AGE'], bins=bins, labels=labels)

In [1189]:
# Verify the binning worked. 
candy.head

<bound method NDFrame.head of       Internal ID Q1: GOING OUT? Q2: GENDER  Q3: AGE Q4: COUNTRY  \
1        90272821             No       Male     44.0        USA
2        90272829            NaN       Male     49.0         USA
3        90272840             No       Male     40.0          us
4        90272841             No       Male     23.0         usa
6        90272853             No       Male     53.0         usa
...           ...            ...        ...      ...         ...
2455     90314359             No       Male     24.0         USA
2456     90314580             No     Female     33.0         USA
2457     90314634             No     Female     26.0        USA
2458     90314658             No       Male     58.0         Usa
2459     90314802             No     Female     66.0         usa

     Q5: STATE, PROVINCE, COUNTY, ETC Q6 | 100 Grand Bar  \
1                                  NM                MEH
2                            Virginia                NaN
3                                  or                MEH
4                            exton pa                JOY
6                           Colorado                 NaN
...                               ...                ...
2455                               MD                JOY
2456                         New York                MEH
2457                        Tennessee                MEH
2458                   North Carolina                NaN
2459                     Pennsylvania            DESPAIR

     Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
1                                               DESPAIR
2                                                   NaN
3                                               DESPAIR
4                                               DESPAIR
6                                                   NaN
...                                                 ...
2455                                            DESPAIR
2456                                            DESPAIR
2457                                            DESPAIR
2458                                                NaN
2459                                            DESPAIR

     Q6 | Any full-sized candy bar Q6 | Black Jacks  ...  \
1                              JOY              MEH  ...
2                              NaN              NaN  ...
3                              JOY              MEH  ...
4                              JOY          DESPAIR  ...
6                              NaN              NaN  ...
...                            ...              ...  ...
2455                           MEH          DESPAIR  ...
2456                           JOY              NaN  ...
2457                           JOY          DESPAIR  ...
2458                           NaN              NaN  ...
2459                           JOY          DESPAIR  ...

                                     Q9: OTHER COMMENTS      Q10: DRESS  \
1     Bottom line is Twix is really the only candy w...  White and gold
2                                                   NaN             NaN
3                                Raisins can go to hell  White and gold
4                                                   NaN  White and gold
6                                                   NaN             NaN
...                                                 ...             ...
2455                                                NaN  White and gold
2456                                                NaN  Blue and black
2457                                                NaN  Blue and black
2458                                                NaN             NaN
2459  You hit all my chocolate highlights, and broug...  White and gold

     Unnamed: 113 Q11: DAY Q12: MEDIA [Daily Dish] Q12: MEDIA [Science]  \
1             NaN   Sunday                     NaN                  1.0
2             NaN      NaN                     NaN                  NaN
3             NaN   Sunday                     NaN                  1.0
4             NaN   Friday                     NaN                  1.0
6             NaN      NaN                     NaN                  NaN
...           ...      ...                     ...                  ...
2455          NaN   Friday                     NaN                  NaN
2456          NaN   Friday                     NaN                  1.0
2457          NaN   Friday                     NaN                  1.0
2458          NaN      NaN                     NaN                  NaN
2459          NaN   Sunday                     1.0                  NaN

     Q12: MEDIA [ESPN] Q12: MEDIA [Yahoo] Click Coordinates (x, y) age_bins
1                  NaN                NaN                 (84, 25)    31-50
2                  NaN                NaN                      NaN    31-50
3                  NaN                NaN                 (75, 23)    31-50
4                  NaN                NaN                 (70, 10)    19-30
6                  NaN                NaN                      NaN   51-100
...                ...                ...                      ...      ...
2455               NaN                NaN                      NaN    19-30
2456               NaN                NaN                 (70, 26)    31-50
2457               NaN                NaN                 (67, 35)    19-30
2458               NaN                NaN                      NaN   51-100
2459               NaN                NaN                 (19, 26)   51-100

[2337 rows x 121 columns]>

Here we have sucessfully added the age_bins bin.

# Chapter 8:

## Create hierarchical index

create a hierarchical index where the age_bins is above age.

In [1193]:
# select a subset of candy for improved readability. 

c_small = candy[['age_bins', 'Q3: AGE', 'Q9: OTHER COMMENTS']]

#Drop null 
c_small = c_small.dropna()

# sort by age

c_small = c_small.sort_values(by='Q3: AGE')

# view
c_small.shape

(370, 3)

In [1194]:
# Use set index to create hierarchical index. 

c_small.set_index(['age_bins', 'Q3: AGE'], inplace=True)

c_small.head

<bound method NDFrame.head of                                                  Q9: OTHER COMMENTS
age_bins Q3: AGE
10-18    11.0     Some of these catagories don't make any sense ...
         11.0     I think that getting chick tracts would be fun...
         12.0                                                   Hey
         12.0                                I like food and horses
         12.0     I feel like i'm gonna get diabetes this Hallow...
...                                                             ...
51-100   71.0     As a presenter, I give the best stuff to obvio...
         71.0     This was the best scientific survey I have eve...
         77.0     I qualify to take this survey because I was on...
         88.0                    Good and Plenty all day every day.
         90.0     Why no spare change?  More vegan options?  Wha...

[370 rows x 1 columns]>

Here we see that we have created a hierarchy with the age and age bins column.

In [1196]:
# Use sort incex to sort by age_bins
c_small.sort_index(level='age_bins')

# display
c_small

                                                 Q9: OTHER COMMENTS
age_bins Q3: AGE
10-18    11.0     Some of these catagories don't make any sense ...
         11.0     I think that getting chick tracts would be fun...
         12.0                                                   Hey
         12.0                                I like food and horses
         12.0     I feel like i'm gonna get diabetes this Hallow...
...                                                             ...
51-100   71.0     As a presenter, I give the best stuff to obvio...
         71.0     This was the best scientific survey I have eve...
         77.0     I qualify to take this survey because I was on...
         88.0                    Good and Plenty all day every day.
         90.0     Why no spare change?  More vegan options?  Wha...

[370 rows x 1 columns]

This heigheracy allows us to view each demographics other comments.

## Reshape

In [1199]:
# Use stack to reshape the columns in the data to rows this allows us to see all results by age and bin
c_stack = c_small.stack()


print(c_stack.head(50))

age_bins  Q3: AGE
10-18     11.0     Q9: OTHER COMMENTS    Some of these catagories don't make any sense ...
                   Q9: OTHER COMMENTS    I think that getting chick tracts would be fun...
          12.0     Q9: OTHER COMMENTS                                                  Hey
                   Q9: OTHER COMMENTS                               I like food and horses
                   Q9: OTHER COMMENTS    I feel like i'm gonna get diabetes this Hallow...
          13.0     Q9: OTHER COMMENTS    As I do not know what around half of those ite...
          14.0     Q9: OTHER COMMENTS         I can't tell if this survey is a joke or not
                   Q9: OTHER COMMENTS    Since it says “mars” and not specifically a ma...
          15.0     Q9: OTHER COMMENTS    If you give out full-sized anything (candy, fo...
                   Q9: OTHER COMMENTS    A lot of the things i despair I didn't know, t...
          16.0     Q9: OTHER COMMENTS              I'm not crazy. Our mother had us tested
          18.0     Q9: OTHER COMMENTS    YAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...
                   Q9: OTHER COMMENTS                            Consider adding adderall
19-30     19.0     Q9: OTHER COMMENTS                              You folks are awesome!
          20.0     Q9: OTHER COMMENTS    I did it guys, I filled out the survey. I won'...
          21.0     Q9: OTHER COMMENTS    One time there was a house that gave me a 20 d...
                   Q9: OTHER COMMENTS    Dark chocolate tastes like broken promises. It...
                   Q9: OTHER COMMENTS                                     Good Quiz. 10/10
          22.0     Q9: OTHER COMMENTS    Devastated not to see ANY acknowledgement of A...
          23.0     Q9: OTHER COMMENTS    Someone told me I get candy if I do this so wh...
                   Q9: OTHER COMMENTS    Please assume any selection I have made that i...
          24.0     Q9: OTHER COMMENTS    I had to Ecosia search ("Google") so many of t...
                   Q9: OTHER COMMENTS    I should receive free candy of my choice for a...
                   Q9: OTHER COMMENTS    Cheap caramel like in Milky Ways begins the ni...
                   Q9: OTHER COMMENTS    Since chocolate and peanut butter in combinati...
                   Q9: OTHER COMMENTS    Do people really give out vicodin and acetamin...
          25.0     Q9: OTHER COMMENTS    Spooky scary skeletons Send shivers down your ...
                   Q9: OTHER COMMENTS    Seriously. Mounds are the fucking worst. Excep...
                   Q9: OTHER COMMENTS    Many of the entries on this survey make me ver...
          26.0     Q9: OTHER COMMENTS    If you can't beat em, sweetums! Diabetes! Figh...
                   Q9: OTHER COMMENTS    I actually get Canadian candy from people all ...
                   Q9: OTHER COMMENTS    Smarties from the UK have a strange aftertaste...
                   Q9: OTHER COMMENTS                            Death to coconut shavings
                   Q9: OTHER COMMENTS    Sour Patch Kids are a delight in your mouth. H...
                   Q9: OTHER COMMENTS                     I just don’t like nuts in candy!
          27.0     Q9: OTHER COMMENTS    All the best candies come in mini-form. If it ...
                   Q9: OTHER COMMENTS     One does not simply wish for death from diabetes
                   Q9: OTHER COMMENTS    I marked Joy for more items than I though I wo...
                   Q9: OTHER COMMENTS    Generally, it goes: chocolate > sour candy > c...
                   Q9: OTHER COMMENTS    My delight at the concept of alcohol while tri...
                   Q9: OTHER COMMENTS                                    snark snark snark
          28.0     Q9: OTHER COMMENTS    In general chocolate is awesome, fruity stuff ...
                   Q9: OTHER COMMENTS    Lollipops are not a homogeneous group!  Blo po...
                   Q9: OTHER COMMENTS                            Chocolate = joy. Always.
                   Q9: OTHER COMMENTS    My area very rarely gets trick or treaters, so...
          29.0     Q9: OTHER COMMENTS    Joy or despair, if the candy's free, I will ea...
                   Q9: OTHER COMMENTS    Caramel things win always, things with chocola...
                   Q9: OTHER COMMENTS        There is no tootsie in roll or dvd form. Why?
          30.0     Q9: OTHER COMMENTS    Why is it that my tolerance for sugar in its p...
                   Q9: OTHER COMMENTS    I fully appreciate the distinction between rea...
dtype: object

This reshaping or stacking of hierarchical levels allows us to view comments by both age demographic and individual age.

# Chapter 10

## Grouping with Dicts/Series

Use dictionary or series methods to group by age_bin.

In [1203]:
# use groupby to find the mean of each age bin in the candy df. 

grouped = candy['Q3: AGE'].groupby(candy['age_bins'])

/var/folders/xv/q0156cqs67s40wbxq6_vfykr0000gn/T/ipykernel_77206/3035731113.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = candy['Q3: AGE'].groupby(candy['age_bins'])

In [1204]:
# Use mean function to display the mean of each age bin. 

grouped.mean()

age_bins
10-18     14.509804
19-30     26.586331
31-50     40.393347
51-100    58.418233
Name: Q3: AGE, dtype: float64

## Grouping with Index Levels

Now we will perform a similar task with a different method we will group by index levels using the hierarchy established in DataFrame c_small. We will do this to find the count of unique responses to question 9 in each age.

In [1231]:
grouped = c_small.groupby(level = 'age_bins')

/var/folders/xv/q0156cqs67s40wbxq6_vfykr0000gn/T/ipykernel_77206/3434568292.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = c_small.groupby(level = 'age_bins')

In [1235]:
grouped.describe()

         Q9: OTHER COMMENTS         \
                      count unique
age_bins
10-18                    13     13
19-30                    42     42
31-50                   209    209
51-100                  106    106


                                                        top freq
age_bins
10-18     Some of these catagories don't make any sense ...    1
19-30                               You folks are awesome!     1
31-50     War on Wonka! Fuck Roald Dahl and everything h...    1
51-100    while the JOY OTHER items reflect the best hal...    1

Now lets us grouping by index to find some descriptive stats on the ages of each age bin.

In [1243]:
# Create new smaller df for readability. 

c_small_2 = candy[['age_bins', 'Q3: AGE']]

#Drop null 
c_small_2 = c_small_2.dropna()

# sort by age

c_small_2 = c_small_2.sort_values(by='Q3: AGE')

In [1245]:
# Create hierarchy

c_small_2.set_index(['age_bins'], inplace=True)

In [1249]:
c_small_2.groupby(level = 'age_bins').describe()

/var/folders/xv/q0156cqs67s40wbxq6_vfykr0000gn/T/ipykernel_77206/4266034155.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  c_small_2.groupby(level = 'age_bins').describe()

         Q3: AGE
           count       mean       std   min   25%   50%   75%    max
age_bins
10-18       51.0  14.509804  2.532766  11.0  12.0  15.0  17.0   18.0
19-30      278.0  26.586331  3.064545  19.0  25.0  27.0  29.0   30.0
31-50     1473.0  40.393347  5.538554  31.0  36.0  40.0  45.0   50.0
51-100     532.0  58.418233  6.965775  51.0  53.0  57.0  62.0  100.0

Above we can see that we have found some the descriptive stats of the ages in each age bin using the hierarchical indexing method.

# Chapter 11

In [1263]:
for column in candy.columns:
    print(column)

Internal ID
Q1: GOING OUT?
Q2: GENDER
Q3: AGE
Q4: COUNTRY
Q5: STATE, PROVINCE, COUNTY, ETC
Q6 | 100 Grand Bar
Q6 | Anonymous brown globs that come in black and orange wrappers	(a.k.a. Mary Janes)
Q6 | Any full-sized candy bar
Q6 | Black Jacks
Q6 | Bonkers (the candy)
Q6 | Bonkers (the board game)
Q6 | Bottle Caps
Q6 | Box'o'Raisins
Q6 | Broken glow stick
Q6 | Butterfinger
Q6 | Cadbury Creme Eggs
Q6 | Candy Corn
Q6 | Candy that is clearly just the stuff given out for free at restaurants
Q6 | Caramellos
Q6 | Cash, or other forms of legal tender
Q6 | Chardonnay
Q6 | Chick-o-Sticks (we don’t know what that is)
Q6 | Chiclets
Q6 | Coffee Crisp
Q6 | Creepy Religious comics/Chick Tracts
Q6 | Dental paraphenalia
Q6 | Dots
Q6 | Dove Bars
Q6 | Fuzzy Peaches
Q6 | Generic Brand Acetaminophen
Q6 | Glow sticks
Q6 | Goo Goo Clusters
Q6 | Good N' Plenty
Q6 | Gum from baseball cards
Q6 | Gummy Bears straight up
Q6 | Hard Candy
Q6 | Healthy Fruit
Q6 | Heath Bar
Q6 | Hershey's Dark Chocolate
Q6 | Hershey’s Milk Chocolate
Q6 | Hershey's Kisses
Q6 | Hugs (actual physical hugs)
Q6 | Jolly Rancher (bad flavor)
Q6 | Jolly Ranchers (good flavor)
Q6 | JoyJoy (Mit Iodine!)
Q6 | Junior Mints
Q6 | Senior Mints
Q6 | Kale smoothie
Q6 | Kinder Happy Hippo
Q6 | Kit Kat
Q6 | LaffyTaffy
Q6 | LemonHeads
Q6 | Licorice (not black)
Q6 | Licorice (yes black)
Q6 | Lindt Truffle
Q6 | Lollipops
Q6 | Mars
Q6 | Maynards
Q6 | Mike and Ike
Q6 | Milk Duds
Q6 | Milky Way
Q6 | Regular M&Ms
Q6 | Peanut M&M’s
Q6 | Blue M&M's
Q6 | Red M&M's
Q6 | Green Party M&M's
Q6 | Independent M&M's
Q6 | Abstained from M&M'ing.
Q6 | Minibags of chips
Q6 | Mint Kisses
Q6 | Mint Juleps
Q6 | Mr. Goodbar
Q6 | Necco Wafers
Q6 | Nerds
Q6 | Nestle Crunch
Q6 | Now'n'Laters
Q6 | Peeps
Q6 | Pencils
Q6 | Pixy Stix
Q6 | Real Housewives of Orange County Season 9 Blue-Ray
Q6 | Reese’s Peanut Butter Cups
Q6 | Reese's Pieces
Q6 | Reggie Jackson Bar
Q6 | Rolos
Q6 | Sandwich-sized bags filled with BooBerry Crunch
Q6 | Skittles
Q6 | Smarties (American)
Q6 | Smarties (Commonwealth)
Q6 | Snickers
Q6 | Sourpatch Kids (i.e. abominations of nature)
Q6 | Spotted Dick
Q6 | Starburst
Q6 | Sweet Tarts
Q6 | Swedish Fish
Q6 | Sweetums (a friend to diabetes)
Q6 | Take 5
Q6 | Tic Tacs
Q6 | Those odd marshmallow circus peanut things
Q6 | Three Musketeers
Q6 | Tolberone something or other
Q6 | Trail Mix
Q6 | Twix
Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein
Q6 | Vicodin
Q6 | Whatchamacallit Bars
Q6 | White Bread
Q6 | Whole Wheat anything
Q6 | York Peppermint Patties
Q7: JOY OTHER
Q8: DESPAIR OTHER
Q9: OTHER COMMENTS
Q10: DRESS
Unnamed: 113
Q11: DAY
Q12: MEDIA [Daily Dish]
Q12: MEDIA [Science]
Q12: MEDIA [ESPN]
Q12: MEDIA [Yahoo]
Click Coordinates (x, y)
age_bins

In [1271]:
candy['Q11: DAY']
candy['Unnamed: 133']

KeyError: 'Unnamed: 133'