In [261]:
# DSC 540
# Weeks 5 & 6
# Summer 2024
# Weeks 5 & 6 Exercises
# Created By Matthew Heinen
# 7/6/24

# Chapter 7:

In [263]:
# Read in data file. 

# Import packages 
import pandas as pd

In [264]:
# read in candyhieracrhy2017.csv. 
candy = pd.read_excel("candyhierarchy2017.xlsx")

/opt/anaconda3/lib/python3.11/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [265]:
# Display candy to verify read in 
candy.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [266]:
# print current size of df. 
candy.shape

(2460, 120)

## Filter out missing data:

In [268]:
# Use dropna to drop all columns that are completely empty. 
# Pass Axis 1 to drop columns. 

candy = candy.dropna(axis =1, how ='all')

# Print Candy shape 
candy.shape

(2460, 120)

Here we see that no columns were completely empty.

In [270]:
# Use dropna to drop all rows that are completely empty. 
# pass how = "all to drop rows that are all na

candy = candy.dropna(how='all')

# Print Candy shape 
candy.shape

(2460, 120)

Here we can see that there are no rows that are completly empty.

In [272]:
# Evaluate age 
# Test if a value in a column is numeric and remove the rows
candy['Q3: AGE'] = pd.to_numeric(candy['Q3: AGE'], errors='coerce')  # Convert to numeric, coerce non-numeric values to NaN


# Remove rows with NaN values in column 'Q3: AGE'
# Use drop NA
candy = candy.dropna(subset=['Q3: AGE'])  

# print size 
print(candy.shape)

(2352, 120)

Here we have removed rows where the value input in age was non numeric.

# Remove Duplicates

In [275]:
# check to see if any rows are duplicates or repeats
# use drop_duplicates
candy = candy.drop_duplicates()

#print shape
candy.shape

(2352, 120)

Here we see that now rows are complete duplicates.

In [277]:
# Check to see if any of the internal ID is duplicated, meaning we have multiple records for the same person. 
candy = candy.drop_duplicates(['Internal ID'])

#print shape
candy.shape

(2352, 120)

 Here we see that we have no duplicate rows or entries.

## Discretization and Binning

lets create some bins based on the age demographic.

In [280]:
# Use describe to find some summary stats on age. 

print(candy['Q3: AGE'].describe())

count    2352.000000
mean       42.617304
std        23.846531
min         1.000000
25%        34.000000
50%        41.000000
75%        50.000000
max      1000.000000
Name: Q3: AGE, dtype: float64

Here we can see that we have some outliers. ages 1 and 1000 are for sure outliers. lets remove those values by filtering out df.

In [282]:
# Use .loc to filter outliers from the age column of the dataset 
candy = candy.loc[(candy['Q3: AGE'] >= 10) & (candy['Q3: AGE'] <= 100)]

#Print shape
print(candy.shape)

(2337, 120)

In [283]:
# use pd.cut to create age bins in df. 

# Create bins and labels 
bins = [10, 18, 30, 50, 100] 
labels = ['10-18', '19-30', '31-50', '51-100']

# create the bins and add column called 'age_bins' 
candy['age_bins'] = pd.cut(candy['Q3: AGE'], bins=bins, labels=labels)

In [284]:
# Verify the binning worked. 
candy.head

<bound method NDFrame.head of       Internal ID Q1: GOING OUT? Q2: GENDER  Q3: AGE Q4: COUNTRY  \
1        90272821             No       Male     44.0        USA
2        90272829            NaN       Male     49.0         USA
3        90272840             No       Male     40.0          us
4        90272841             No       Male     23.0         usa
6        90272853             No       Male     53.0         usa
...           ...            ...        ...      ...         ...
2455     90314359             No       Male     24.0         USA
2456     90314580             No     Female     33.0         USA
2457     90314634             No     Female     26.0        USA
2458     90314658             No       Male     58.0         Usa
2459     90314802             No     Female     66.0         usa

     Q5: STATE, PROVINCE, COUNTY, ETC Q6 | 100 Grand Bar  \
1                                  NM                MEH
2                            Virginia                NaN
3                                  or                MEH
4                            exton pa                JOY
6                           Colorado                 NaN
...                               ...                ...
2455                               MD                JOY
2456                         New York                MEH
2457                        Tennessee                MEH
2458                   North Carolina                NaN
2459                     Pennsylvania            DESPAIR

     Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
1                                               DESPAIR
2                                                   NaN
3                                               DESPAIR
4                                               DESPAIR
6                                                   NaN
...                                                 ...
2455                                            DESPAIR
2456                                            DESPAIR
2457                                            DESPAIR
2458                                                NaN
2459                                            DESPAIR

     Q6 | Any full-sized candy bar Q6 | Black Jacks  ...  \
1                              JOY              MEH  ...
2                              NaN              NaN  ...
3                              JOY              MEH  ...
4                              JOY          DESPAIR  ...
6                              NaN              NaN  ...
...                            ...              ...  ...
2455                           MEH          DESPAIR  ...
2456                           JOY              NaN  ...
2457                           JOY          DESPAIR  ...
2458                           NaN              NaN  ...
2459                           JOY          DESPAIR  ...

                                     Q9: OTHER COMMENTS      Q10: DRESS  \
1     Bottom line is Twix is really the only candy w...  White and gold
2                                                   NaN             NaN
3                                Raisins can go to hell  White and gold
4                                                   NaN  White and gold
6                                                   NaN             NaN
...                                                 ...             ...
2455                                                NaN  White and gold
2456                                                NaN  Blue and black
2457                                                NaN  Blue and black
2458                                                NaN             NaN
2459  You hit all my chocolate highlights, and broug...  White and gold

     Unnamed: 113 Q11: DAY Q12: MEDIA [Daily Dish] Q12: MEDIA [Science]  \
1             NaN   Sunday                     NaN                  1.0
2             NaN      NaN                     NaN                  NaN
3             NaN   Sunday                     NaN                  1.0
4             NaN   Friday                     NaN                  1.0
6             NaN      NaN                     NaN                  NaN
...           ...      ...                     ...                  ...
2455          NaN   Friday                     NaN                  NaN
2456          NaN   Friday                     NaN                  1.0
2457          NaN   Friday                     NaN                  1.0
2458          NaN      NaN                     NaN                  NaN
2459          NaN   Sunday                     1.0                  NaN

     Q12: MEDIA [ESPN] Q12: MEDIA [Yahoo] Click Coordinates (x, y) age_bins
1                  NaN                NaN                 (84, 25)    31-50
2                  NaN                NaN                      NaN    31-50
3                  NaN                NaN                 (75, 23)    31-50
4                  NaN                NaN                 (70, 10)    19-30
6                  NaN                NaN                      NaN   51-100
...                ...                ...                      ...      ...
2455               NaN                NaN                      NaN    19-30
2456               NaN                NaN                 (70, 26)    31-50
2457               NaN                NaN                 (67, 35)    19-30
2458               NaN                NaN                      NaN   51-100
2459               NaN                NaN                 (19, 26)   51-100

[2337 rows x 121 columns]>

Here we have sucessfully added the age_bins bin.

# Chapter 8:

## Create hierarchical index

create a hierarchical index where the age_bins is above age.

In [288]:
# Use swap level to create index. 

candy.set_index(['age_bins', 'Q3: AGE'], inplace=True)

candy

                  Internal ID Q1: GOING OUT? Q2: GENDER Q4: COUNTRY  \
age_bins Q3: AGE
31-50    44.0        90272821             No       Male        USA
         49.0        90272829            NaN       Male         USA
         40.0        90272840             No       Male          us
19-30    23.0        90272841             No       Male         usa
51-100   53.0        90272853             No       Male         usa
...                       ...            ...        ...         ...
19-30    24.0        90314359             No       Male         USA
31-50    33.0        90314580             No     Female         USA
19-30    26.0        90314634             No     Female        USA
51-100   58.0        90314658             No       Male         Usa
         66.0        90314802             No     Female         usa

                 Q5: STATE, PROVINCE, COUNTY, ETC Q6 | 100 Grand Bar  \
age_bins Q3: AGE
31-50    44.0                                  NM                MEH
         49.0                            Virginia                NaN
         40.0                                  or                MEH
19-30    23.0                            exton pa                JOY
51-100   53.0                           Colorado                 NaN
...                                           ...                ...
19-30    24.0                                  MD                JOY
31-50    33.0                            New York                MEH
19-30    26.0                           Tennessee                MEH
51-100   58.0                      North Carolina                NaN
         66.0                        Pennsylvania            DESPAIR

                 Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
age_bins Q3: AGE
31-50    44.0                                               DESPAIR
         49.0                                                   NaN
         40.0                                               DESPAIR
19-30    23.0                                               DESPAIR
51-100   53.0                                                   NaN
...                                                             ...
19-30    24.0                                               DESPAIR
31-50    33.0                                               DESPAIR
19-30    26.0                                               DESPAIR
51-100   58.0                                                   NaN
         66.0                                               DESPAIR

                 Q6 | Any full-sized candy bar Q6 | Black Jacks  \
age_bins Q3: AGE
31-50    44.0                              JOY              MEH
         49.0                              NaN              NaN
         40.0                              JOY              MEH
19-30    23.0                              JOY          DESPAIR
51-100   53.0                              NaN              NaN
...                                        ...              ...
19-30    24.0                              MEH          DESPAIR
31-50    33.0                              JOY              NaN
19-30    26.0                              JOY          DESPAIR
51-100   58.0                              NaN              NaN
         66.0                              JOY          DESPAIR

                 Q6 | Bonkers (the candy)  ... Q8: DESPAIR OTHER  \
age_bins Q3: AGE                           ...
31-50    44.0                     DESPAIR  ...               NaN
         49.0                         NaN  ...               NaN
         40.0                         MEH  ...               NaN
19-30    23.0                         MEH  ...               NaN
51-100   53.0                         NaN  ...               NaN
...                                   ...  ...               ...
19-30    24.0                     DESPAIR  ...  Fruit Stripe Gum
31-50    33.0                         NaN  ...            Capers
19-30    26.0                         MEH  ...               NaN
51-100   58.0                         NaN  ...               NaN
         66.0                     DESPAIR  ...               NaN

                                                 Q9: OTHER COMMENTS  \
age_bins Q3: AGE
31-50    44.0     Bottom line is Twix is really the only candy w...
         49.0                                                   NaN
         40.0                                Raisins can go to hell
19-30    23.0                                                   NaN
51-100   53.0                                                   NaN
...                                                             ...
19-30    24.0                                                   NaN
31-50    33.0                                                   NaN
19-30    26.0                                                   NaN
51-100   58.0                                                   NaN
         66.0     You hit all my chocolate highlights, and broug...

                      Q10: DRESS Unnamed: 113 Q11: DAY  \
age_bins Q3: AGE
31-50    44.0     White and gold          NaN   Sunday
         49.0                NaN          NaN      NaN
         40.0     White and gold          NaN   Sunday
19-30    23.0     White and gold          NaN   Friday
51-100   53.0                NaN          NaN      NaN
...                          ...          ...      ...
19-30    24.0     White and gold          NaN   Friday
31-50    33.0     Blue and black          NaN   Friday
19-30    26.0     Blue and black          NaN   Friday
51-100   58.0                NaN          NaN      NaN
         66.0     White and gold          NaN   Sunday

                 Q12: MEDIA [Daily Dish] Q12: MEDIA [Science]  \
age_bins Q3: AGE
31-50    44.0                        NaN                  1.0
         49.0                        NaN                  NaN
         40.0                        NaN                  1.0
19-30    23.0                        NaN                  1.0
51-100   53.0                        NaN                  NaN
...                                  ...                  ...
19-30    24.0                        NaN                  NaN
31-50    33.0                        NaN                  1.0
19-30    26.0                        NaN                  1.0
51-100   58.0                        NaN                  NaN
         66.0                        1.0                  NaN

                 Q12: MEDIA [ESPN] Q12: MEDIA [Yahoo] Click Coordinates (x, y)
age_bins Q3: AGE
31-50    44.0                  NaN                NaN                 (84, 25)
         49.0                  NaN                NaN                      NaN
         40.0                  NaN                NaN                 (75, 23)
19-30    23.0                  NaN                NaN                 (70, 10)
51-100   53.0                  NaN                NaN                      NaN
...                            ...                ...                      ...
19-30    24.0                  NaN                NaN                      NaN
31-50    33.0                  NaN                NaN                 (70, 26)
19-30    26.0                  NaN                NaN                 (67, 35)
51-100   58.0                  NaN                NaN                      NaN
         66.0                  NaN                NaN                 (19, 26)

[2337 rows x 119 columns]

Here we see that we have created a hierarchy with the age and age bins column.

In [290]:
# Use sort incex to sort by age_bins
candy.sort_index(level='age_bins')

# display
candy

                  Internal ID Q1: GOING OUT? Q2: GENDER Q4: COUNTRY  \
age_bins Q3: AGE
31-50    44.0        90272821             No       Male        USA
         49.0        90272829            NaN       Male         USA
         40.0        90272840             No       Male          us
19-30    23.0        90272841             No       Male         usa
51-100   53.0        90272853             No       Male         usa
...                       ...            ...        ...         ...
19-30    24.0        90314359             No       Male         USA
31-50    33.0        90314580             No     Female         USA
19-30    26.0        90314634             No     Female        USA
51-100   58.0        90314658             No       Male         Usa
         66.0        90314802             No     Female         usa

                 Q5: STATE, PROVINCE, COUNTY, ETC Q6 | 100 Grand Bar  \
age_bins Q3: AGE
31-50    44.0                                  NM                MEH
         49.0                            Virginia                NaN
         40.0                                  or                MEH
19-30    23.0                            exton pa                JOY
51-100   53.0                           Colorado                 NaN
...                                           ...                ...
19-30    24.0                                  MD                JOY
31-50    33.0                            New York                MEH
19-30    26.0                           Tennessee                MEH
51-100   58.0                      North Carolina                NaN
         66.0                        Pennsylvania            DESPAIR

                 Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
age_bins Q3: AGE
31-50    44.0                                               DESPAIR
         49.0                                                   NaN
         40.0                                               DESPAIR
19-30    23.0                                               DESPAIR
51-100   53.0                                                   NaN
...                                                             ...
19-30    24.0                                               DESPAIR
31-50    33.0                                               DESPAIR
19-30    26.0                                               DESPAIR
51-100   58.0                                                   NaN
         66.0                                               DESPAIR

                 Q6 | Any full-sized candy bar Q6 | Black Jacks  \
age_bins Q3: AGE
31-50    44.0                              JOY              MEH
         49.0                              NaN              NaN
         40.0                              JOY              MEH
19-30    23.0                              JOY          DESPAIR
51-100   53.0                              NaN              NaN
...                                        ...              ...
19-30    24.0                              MEH          DESPAIR
31-50    33.0                              JOY              NaN
19-30    26.0                              JOY          DESPAIR
51-100   58.0                              NaN              NaN
         66.0                              JOY          DESPAIR

                 Q6 | Bonkers (the candy)  ... Q8: DESPAIR OTHER  \
age_bins Q3: AGE                           ...
31-50    44.0                     DESPAIR  ...               NaN
         49.0                         NaN  ...               NaN
         40.0                         MEH  ...               NaN
19-30    23.0                         MEH  ...               NaN
51-100   53.0                         NaN  ...               NaN
...                                   ...  ...               ...
19-30    24.0                     DESPAIR  ...  Fruit Stripe Gum
31-50    33.0                         NaN  ...            Capers
19-30    26.0                         MEH  ...               NaN
51-100   58.0                         NaN  ...               NaN
         66.0                     DESPAIR  ...               NaN

                                                 Q9: OTHER COMMENTS  \
age_bins Q3: AGE
31-50    44.0     Bottom line is Twix is really the only candy w...
         49.0                                                   NaN
         40.0                                Raisins can go to hell
19-30    23.0                                                   NaN
51-100   53.0                                                   NaN
...                                                             ...
19-30    24.0                                                   NaN
31-50    33.0                                                   NaN
19-30    26.0                                                   NaN
51-100   58.0                                                   NaN
         66.0     You hit all my chocolate highlights, and broug...

                      Q10: DRESS Unnamed: 113 Q11: DAY  \
age_bins Q3: AGE
31-50    44.0     White and gold          NaN   Sunday
         49.0                NaN          NaN      NaN
         40.0     White and gold          NaN   Sunday
19-30    23.0     White and gold          NaN   Friday
51-100   53.0                NaN          NaN      NaN
...                          ...          ...      ...
19-30    24.0     White and gold          NaN   Friday
31-50    33.0     Blue and black          NaN   Friday
19-30    26.0     Blue and black          NaN   Friday
51-100   58.0                NaN          NaN      NaN
         66.0     White and gold          NaN   Sunday

                 Q12: MEDIA [Daily Dish] Q12: MEDIA [Science]  \
age_bins Q3: AGE
31-50    44.0                        NaN                  1.0
         49.0                        NaN                  NaN
         40.0                        NaN                  1.0
19-30    23.0                        NaN                  1.0
51-100   53.0                        NaN                  NaN
...                                  ...                  ...
19-30    24.0                        NaN                  NaN
31-50    33.0                        NaN                  1.0
19-30    26.0                        NaN                  1.0
51-100   58.0                        NaN                  NaN
         66.0                        1.0                  NaN

                 Q12: MEDIA [ESPN] Q12: MEDIA [Yahoo] Click Coordinates (x, y)
age_bins Q3: AGE
31-50    44.0                  NaN                NaN                 (84, 25)
         49.0                  NaN                NaN                      NaN
         40.0                  NaN                NaN                 (75, 23)
19-30    23.0                  NaN                NaN                 (70, 10)
51-100   53.0                  NaN                NaN                      NaN
...                            ...                ...                      ...
19-30    24.0                  NaN                NaN                      NaN
31-50    33.0                  NaN                NaN                 (70, 26)
19-30    26.0                  NaN                NaN                 (67, 35)
51-100   58.0                  NaN                NaN                      NaN
         66.0                  NaN                NaN                 (19, 26)

[2337 rows x 119 columns]

In [291]:
## Reshape

In [292]:
candy = candy.stack()

print(candy.head(50))

age_bins  Q3: AGE
31-50     44.0     Internal ID                                                                               90272821
                   Q1: GOING OUT?                                                                                  No
                   Q2: GENDER                                                                                    Male
                   Q4: COUNTRY                                                                                   USA
                   Q5: STATE, PROVINCE, COUNTY, ETC                                                                NM
                   Q6 | 100 Grand Bar                                                                             MEH
                   Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)     DESPAIR
                   Q6 | Any full-sized candy bar                                                                  JOY
                   Q6 | Black Jacks                                                                               MEH
                   Q6 | Bonkers (the candy)                                                                   DESPAIR
                   Q6 | Bonkers (the board game)                                                              DESPAIR
                   Q6 | Bottle Caps                                                                           DESPAIR
                   Q6 | Box'o'Raisins                                                                         DESPAIR
                   Q6 | Broken glow stick                                                                     DESPAIR
                   Q6 | Butterfinger                                                                          DESPAIR
                   Q6 | Cadbury Creme Eggs                                                                        MEH
                   Q6 | Candy Corn                                                                                MEH
                   Q6 | Candy that is clearly just the stuff given out for free at restaurants                DESPAIR
                   Q6 | Caramellos                                                                                MEH
                   Q6 | Cash, or other forms of legal tender                                                      JOY
                   Q6 | Chardonnay                                                                                MEH
                   Q6 | Chick-o-Sticks (we don’t know what that is)                                           DESPAIR
                   Q6 | Chiclets                                                                              DESPAIR
                   Q6 | Coffee Crisp                                                                          DESPAIR
                   Q6 | Creepy Religious comics/Chick Tracts                                                  DESPAIR
                   Q6 | Dental paraphenalia                                                                   DESPAIR
                   Q6 | Dots                                                                                      MEH
                   Q6 | Dove Bars                                                                                 JOY
                   Q6 | Fuzzy Peaches                                                                         DESPAIR
                   Q6 | Generic Brand Acetaminophen                                                           DESPAIR
                   Q6 | Glow sticks                                                                           DESPAIR
                   Q6 | Goo Goo Clusters                                                                      DESPAIR
                   Q6 | Good N' Plenty                                                                            MEH
                   Q6 | Gum from baseball cards                                                               DESPAIR
                   Q6 | Gummy Bears straight up                                                                   MEH
                   Q6 | Hard Candy                                                                                MEH
                   Q6 | Healthy Fruit                                                                         DESPAIR
                   Q6 | Heath Bar                                                                                 MEH
                   Q6 | Hershey's Dark Chocolate                                                                  JOY
                   Q6 | Hershey’s Milk Chocolate                                                                  JOY
                   Q6 | Hershey's Kisses                                                                          MEH
                   Q6 | Hugs (actual physical hugs)                                                           DESPAIR
                   Q6 | Jolly Rancher (bad flavor)                                                            DESPAIR
                   Q6 | Jolly Ranchers (good flavor)                                                              MEH
                   Q6 | JoyJoy (Mit Iodine!)                                                                  DESPAIR
                   Q6 | Junior Mints                                                                          DESPAIR
                   Q6 | Senior Mints                                                                          DESPAIR
                   Q6 | Kale smoothie                                                                         DESPAIR
                   Q6 | Kinder Happy Hippo                                                                    DESPAIR
                   Q6 | Kit Kat                                                                                   JOY
dtype: object