In [55]:
# DSC 540
# Weeks 9& 10
# Summer 2024
# Weeks 9 & 10 Exercises
# Created By Matthew Heinen
# 8/4/24

# 1) Activity 8.01

In [57]:
# Import SQL 
import sqlite3

# Establish connection 
conn = sqlite3.connect("petsdb_rename2.db")

In [58]:
# build function is open to verify if the database connection is open. 
def is_opened(conn):
    # Try to execute a simple query. 
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
       # If we are able to execute return true
        return True
   # Exception handeling for programming error (This will trigger if the connection is closed). 
    except sqlite3.ProgrammingError as e:
       # Print connection closed 
        print("Connection closed {}".format(e))
        # return false 
        return False

In [59]:
# Call is opened function 
# pass conn
# print result. 
print(is_opened(conn))

True

In [60]:
# Close the connection. 
conn.close()

In [61]:
# Call is opened again and print the result. 
# here we are testing the error handling for when the connection is closed. 
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

In [62]:
# 1 What is the count of people belonging to different age groups in the persons table.

In [63]:
# Establish connection 
# We have to re establish connection after the connection was closed above. 
conn = sqlite3.connect("petsdb_rename2.db")  

# Define the cursor as c, This will be used to execute SQL commands and queries. 
c = conn.cursor()

In [64]:
# write SQL statement to query the count of people from the persons table 
# grouped by age

query = "SELECT count(*), age FROM persons GROUP BY age"

In [65]:
# Execute 
c.execute(query)
#use fetchall to loop through and print every row returned from the query. 
for row in c.fetchall():
    print(row)

(2, 5)
(1, 6)
(1, 7)
(3, 8)
(1, 9)
(2, 11)
(3, 12)
(1, 13)
(4, 14)
(2, 16)
(2, 17)
(3, 18)
(1, 19)
(3, 22)
(2, 23)
(3, 24)
(2, 25)
(1, 27)
(1, 30)
(3, 31)
(1, 32)
(1, 33)
(2, 34)
(3, 35)
(3, 36)
(1, 37)
(2, 39)
(1, 40)
(1, 42)
(2, 44)
(2, 48)
(1, 49)
(1, 50)
(2, 51)
(2, 52)
(2, 53)
(2, 54)
(1, 58)
(1, 59)
(1, 60)
(1, 61)
(2, 62)
(1, 63)
(2, 65)
(2, 66)
(1, 67)
(3, 68)
(1, 69)
(1, 70)
(4, 71)
(1, 72)
(5, 73)
(3, 74)

In [66]:
# Loop through the count and corresponding age of the returned query. 
for ppl, age in c.execute(query):
    # print the count per ages from the query. 
    print("We have {} people aged {}".format(ppl, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

In [67]:
# 2) Which age group has the maximum number of people. 

# write query 
# use max operator. 
query ='''
    SELECT age, MAX(count) AS max_count
    FROM (
        SELECT age, COUNT(*) AS count
        FROM persons
        GROUP BY age
        ) subquery
    '''

In [68]:
# Loop through
for ppl, age in c.execute(query):
    # Print Result
    print("The highest number of people is {} and came from {} age group".format(ppl, age))
    break

The highest number of people is 73 and came from 5 age group

In [69]:
# 3) How many people do not have a last name. 

# Write Query 
query = "SELECT count(*) FROM persons WHERE last_name IS null"

# get response from db using cursor execute
response = c.execute(query)

# Loop through the response and print result 
for row in response:
    print(row)

(60,)

In [70]:
# 4) How many people have more than one pet? 


# Write query 
query = "SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)"

# get response from db using cursor execute
response = c.execute(query)

# Loop through response and print result
for row in response:
    # Print result for how many people have more than one pet. 
    print("{} people have more than one pets".format(row[0]))

43 people have more than one pets

In [71]:
# 5) How many pets have received treatment? 

# Write query 
# treatment_done = 1
query = "SELECT count(*) FROM pets WHERE treatment_done=1"

# get response from db using cursor execute
response = c.execute(query)

# Loop through the response and print result 
for row in response:
    print(row)

(36,)

In [72]:
# 6) How many pets have received treatment, and the type of the pet is known?

# Write Query 
# use and opperator 
query = "SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null"

# get response from db using cursor execute
response = c.execute(query)

# Loop through the response and print result 
for row in response:
    print(row)

(16,)

In [73]:
# 7) How many pets are from the city called east port? 

# Write Query
# Join persons and pets on owner_id
# use where operator to find city = east port
query = "SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'"

# get response from db using cursor execute
response = c.execute(query)

# Loop through the response and print result 
for row in response:
    print(row)

(49,)

In [74]:
# 8) How many pets are from the city called east port, and who received treatment?

# Write query 
# Use and operator 
query = "SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1"

# get response from db using cursor execute
response = c.execute(query)

# Loop through the response and print result 
for row in response:
    print(row)

(11,)